header.masthead {
   padding-top: 10.5rem;
   padding-bottom: 6rem;
   text-align: center;
   color: #fff;
   background-image: url(img/7-outstanding-chefs-shaping-mexican-cooking-olvera-camara-quintana-plascencia-soto-innes-gaytan-and-guzman.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
}
.heading{
   font-size: 50px;
   text-align: center;
}
.sub{
   font-size: 40px;
}
.pad-top{
   padding-top: 10px;
}
