header.masthead {
   padding-top: 10rem;
   padding-bottom: calc(10rem - 4.5rem);
   background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(img/7-outstanding-chefs-shaping-mexican-cooking-olvera-camara-quintana-plascencia-soto-innes-gaytan-and-guzman.png);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   max-width: 100%;
   height: auto;
}
.heading{
   font-size: 50px;
   text-align: center;
}
.sub{
   font-size: 40px;
   text-align: center;
}
.pad-top{
   padding-top: 10px;
}
.im{
   max-width: 100%;
   height: auto;
}
.im2{
   max-width: 100%;
   height: 300px;
}
.white{
   color: white;
}
.font1{
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.border-bottom {
   border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   padding-bottom: 10px;
}
.bg-gray {
   --bs-bg-opacity: 1;
   background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.pad-bot{
   padding-bottom: 10px;
}
.mont{
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400px;
   font-style: normal;
 }
 .lato {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
 }

